/*
Theme Name: Material Landing :)
Version: 1.0
*/
@CHARSET "UTF-8";
html{
	min-width: 320px;
}
.parallax-container {
  height: 100vh;
}
nav {
  background-color: rgba(0,0,0,.25);
}
.navbar-fixed{
	position: fixed;
}
nav ul li a.mPS2id-highlight, nav ul li a.mPS2id-highlight-first{
  background-color: rgba(234,69,75, 0.5);
}
nav ul a:hover{
	background-color: rgba(234,69,75, 0.5);
}
.valign-wrapper .valign {
  margin: 0 auto;
}
footer.page-footer{
	margin-top: 0;
	padding-top: 0;
}
nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i{
  padding-left: 5px;
}
.divider{
	margin: 20px 0;
}
footer.page-footer .footer-copyright{
	height: 70px;
	line-height: 70px;
	clear: both;
}
footer.page-footer .footer-copyright .row{
	margin-bottom: 0;
}
footer nav{
	box-shadow: none;
	padding-left: 0;
}
footer .row a{
	margin: 0 6px;
}
footer .row a i{
	transition: 0.25s;
}
footer .row a:hover i{
	-webkit-transform: rotate(360deg);
	-moz-transform: rotate(360deg);
	-o-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	box-shadow: 0 45px 60px -50px #000000;
	-webkit-transition: all 250ms linear;
	-moz-transition: all 250ms linear;
	-o-transition: all 250ms linear;
	-ms-transition: all 250ms linear;
	transition: all 250ms linear;
}
textarea{
	height: 10px !important;
	min-height: auto !important;
}
.btn-floating i{
	font-size: inherit;
	font-style: normal;
}
.fixed-action-btn.horizontal{
	bottom: 25px !important;
	right: 25px !important;
}
/*-----------*/
html .valign-wrapper .mynameis span.name{
  margin-top: 64px;
  display: block;
	padding: 10px 35px;
	color: #fff;
	border: 8px solid #fff;
	text-transform: uppercase;
	font-weight: bold;
  font-size: 0.65em;
  letter-spacing: 1px;
	background-color: rgba(0, 0, 0, 0.1);
	-webkit-animation-delay: 0.5s;
	animation-delay: 0.5s;
}
html .valign-wrapper .mynameis span.info {
  color: #000;
  letter-spacing: 5px;
  text-transform: uppercase;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
  font-size: 14px;
  text-shadow: 2px 2px 3px rgba(150, 150, 150, 1);
}
.row .col.s11.mycontainer {
  float: none;
  margin: 0 auto;
}
.mydata{
	font-size: 17px;
	margin: 21px 0;
}
.mydata .col.s12{
	margin-bottom: 9px;
}
.mydata .col.s12 a{
	color: #333;
	transition: 0.25s;
}
.mydata .col.s12 a:hover{
	color: #2196F3;
	transition: 0.25s;
}
.card .card-image {
  height: 25vw;
  overflow: hidden;
}
h3.header.center-align{
	margin-bottom: 32px;
}
.card .card-reveal{
	padding: 0;
}
.card .card-reveal .card-title {
  height: 100%;
  padding: 20px;
}
.card .card-title .card-more{
	font-size: 15px;
	display: block;
}
.card .card-title i{
	margin-top: 7px;
}
#result_id{
	line-height: 2.3;
	margin-left: 8.1%;
}
@media only screen and (max-width: 1030px){
	.card .card-title {
    font-size: 22px;
    font-weight: 300;
	}
}
@media only screen and (max-width: 993px){
	.mydata {
	  font-size: 17px;
	}	
	.mydata .col.s12 {
	  margin-bottom: 5px;
	}
	.card .card-image {
	  height: 38.5vw;
	}
}
@media only screen and (min-width: 600px) and (max-width: 700px){
	html .valign-wrapper .mynameis span.name {
	  font-size: 0.58em;
	}
	.col.s12.m6{
		width: 100%;
	}
	.card .card-image {
	  height: 69vw;
	}
}
@media only screen and (max-width: 600px){
	html .valign-wrapper .mynameis span.name {
		font-size: 17px;
    margin: 0 auto;
    display: table;
  }
	h2 {
	  font-size: 3rem;
	}
	footer>nav>ul{
		width: 100%;
		text-align: center;
	}
	footer>nav>ul>li{
		float: none;
	}
	.mydata {
	  font-size: 14px;
	  text-align: center;
	}
	.card .card-image {
	  height: 69vw;
	}
	.card .card-title {
    font-size: 17px;
    font-weight: 300;
	}
	.card .card-title i{
		margin-top: 0px;
	}
	#result_id {
		margin-left: 0;
	  margin-right: 8.1%;
	  margin-bottom: 21px;
	  width: 100%;
	  text-align: right;
	}
}